.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  justify-content: center;
  margin-top: 100px;
}

.input {
  padding: 8px;
  border-radius: 6px;
  border: none;
  outline: none;
}
.button {
  display: flex;
  padding: 10px;
  border: none;
  outline: none;
  width: max-content;
  background-color: rgb(2, 168, 168);
  color: #fff;
  border-radius: 6px;
  transition: 0.1s;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.button:active {
  transform: scale(1);
}
